<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="tabs-container">
                <uib-tabset>
                    <uib-tab>
                        <uib-tab-heading>
                            <i class="fa fa-desktop"></i>
                            Cadastro Banco
                        </uib-tab-heading>
                        <div class="panel-body">
                            <div ng-include="'views/cadBanco.html'"></div>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading>
                            <i class="fa fa-database"></i>
                            Cadastro Conta Banco
                        </uib-tab-heading>
                        <div class="panel-body">
                            <div ng-include="'views/cadContaBanco.html'"></div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>