<div class="wrapper wrapper-content animated fadeInRight">
    <!--<div class="container services">-->
    <div class="row">
        <!-- 		DIREITA FORMULARIO     -->
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="certidaoForm" class="form" ng-submit="cadastrarCertidao(certidao)"
                          novalidate>
                        <p>Preencha os dados com atenção.</p>

                        <input type="hidden" class="form-control" id="id" name="id" ng-model="certidao.id">

                        <div class="form-group" >
                            <label class="">Descrição</label>
                            <input type="text" class="form-control" name="descricao" placeholder="Descrição" ng-model="certidao.descricao" ng-required="true">
                            <div class="m-t-xs" ng-show="certidaoForm.descricao.$invalid && certidaoForm.$prestine">
                                <small class="text-danger" ng-show="certidaoForm.descricao.$error.required">Insira a descrição</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label class="">Prazo</label>
                                    <input type="text" class="form-control" name="Prazo" placeholder="Prazo" ng-model="certidao.prazo" ng-required="true">
                                    <div class="m-t-xs" ng-show="certidaoForm.prazo.$invalid && certidaoForm.$prestine">
                                        <small class="text-danger" ng-show="certidaoForm.prazo.$error.required">Insira o Prazo</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label class="">Valor</label>
                                    <input type="text" class="form-control" name="Valor" placeholder="Valor" ng-model="certidao.valor" ng-required="true">
                                    <div class="m-t-xs" ng-show="certidaoForm.valor.$invalid && certidaoForm.$prestine">
                                        <small class="text-danger" ng-show="certidaoForm.valor.$error.required">Insira o Valor</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="">
                                <button class="btn btn-info" type="submit" ng-disabled="perfilForm.$invalid">
                                    Salvar
                                </button>
                                <button class="btn btn-primary" type="button" ng-click="limparCampos()">
                                    Novo
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 		FIM FORMULARIO    -->

        <!-- 		ESQUERDA TABELA DE DADOS     -->

        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                           placeholder="Buscar na Lista">
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="10"
                           data-filter=#filter>
                        <thead>
                        <tr>
                            <th data-toggle="true">ID</th>
                            <th data-hide="tablet">Descrição</th>
                            <th data-hide="phone">Prazo</th>
                            <th data-hide="phone">Valor</th>
                            <th data-hide="phone">Data de Cadastro</th>
                            <th data-hide="all">Data de Edição</th>
                            <th class="text-right" data-sort-ignore="true">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="c in certidoes" reiniciar-footable>
                            <td ng-bind="c.id"></td>
                            <td ng-bind="c.descricao"></td>
                            <td ng-bind="c.prazo"></td>
                            <td ng-bind="c.valor"></td>
                            <td ng-bind="c.datacadastro"></td>
                            <td ng-bind="c.dataedicao"></td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button class="btn-white btn btn-xs" ng-click="editarCertidao(c)"><i class="fa fa-edit"></i>
                                    </button>
                                    <button class="btn-white btn btn-xs" ng-click="deletarCertidao(c)"><i class="fa fa-close"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="12">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->
</div>