<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <!-- 		DIREITA FORMULARIO     -->
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="marcaForm" class="form" ng-submit="cadastrarMarca(marca)"
                          novalidate>
                        <p>Preencha os dados com atenção.</p>

                        <input type="hidden" class="form-control" id="id" name="id" ng-model="marca.id">

                        <div class="form-group" >
                            <label class="">Nome</label>
                            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome da Marca" ng-model="marca.nome" ng-required="true">
                            <div class="m-t-xs" ng-show="marcaForm.nome.$invalid && marcaForm.$prestine">
                                <small class="text-danger" ng-show="marcaForm.nome.$error.required">Insira o nome da MARCA</small>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="">
                                <button class="btn btn-info" type="submit" ng-disabled="marcaForm.$invalid">
                                    Salvar
                                </button>
                                <button class="btn btn-primary" type="button" ng-click="limparCampos()">
                                    Novo
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 		FIM FORMULARIO    -->

        <!-- 		ESQUERDA TABELA DE DADOS     -->

        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="10">
                        <thead>
                        <tr>
                            <th data-toggle="true">ID</th>
                            <th data-hide="phone">Nome</th>
                            <th data-hide="phone">Data de Cadastro</th>
                            <th data-hide="phone">Data de Edição</th>
                            <th class="text-right" data-sort-ignore="true">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="m in marcas" reiniciar-footable>
                            <td ng-bind="m.id"></td>
                            <td ng-bind="m.nome"></td>
                            <td ng-bind="m.datacadastro"></td>
                            <td ng-bind="m.dataedicao"></td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button class="btn-white btn btn-xs" ng-click="editarMarca(m)"><i class="fa fa-edit"></i>
                                    </button>
                                    <button class="btn-white btn btn-xs" ng-click="deletarMarca(m)"><i class="fa fa-close"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>>