<style type="text/css">
    .home {
        margin: 0 auto;
        /*background: orange;*/
        margin-top: 200px;
        /*margin-left: 500px;*/
        text-align: center;
        padding: 10px;
    }
    .home .titulo {
        font-size: 30px;
        font-weight: 800px;
        color: #004f99;
        /*font-family: "Arial-Black";*/
    }
</style>

<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'views/common/navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div ng-include="'views/common/topnavbar.html'"></div>

        <!-- Main view  -->
        <div ui-view>
            <div class="home">
                <div class="titulo">Sistema de gestão AdminExpress</div>
                <div class="logo"><img src="libs/img/logo-site2.png"></div>
            </home>
        </div>

        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

    <!-- Right Sidebar -->
    <div ng-include="'views/common/right_sidebar.html'"></div>

</div>
<!-- End wrapper-->