<style>
    #logosite {
        width: 158px;
        height: 74px;
        vertical-align: middle;
    }

</style>
<nav class="navbar-default navbar-static-side" role="navigation" ng-app="admin-express" ng-controller="header_menu">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <img id="logosite" src="libs/img/logo-site2.png">
                    <!--<img alt="image" class="img-circle" height="48" ng-src="{{pathfoto}}"/>-->
                    <!--<a class="dropdown-toggle" dropdown-toggle href>-->
                            <!--<span class="clear">-->
                                <!--<span class="block m-t-xs">-->
                                    <!--<strong class="font-bold">{{nome}}</strong>-->
                             <!--</span>-->
                                <!--<span class="text-muted text-xs block">{{perfil}} <b class="caret"></b></span>-->
                            <!--</span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu animated fadeInRight m-t-xs">-->
                        <!--<li><a ui-sref="profile">Profile</a></li>-->
                        <!--<li><a ui-sref="contacts">Contacts</a></li>-->
                        <!--<li><a ui-sref="inbox">Mailbox</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="../login.html">Logout</a></li>-->
                    <!--</ul>-->
                </div>
                <div class="logo-element" style="padding: 6px 0;">
                    <img src="libs/img/logo.png" height="50px">
                </div>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="home"><i class="fa fa-legal"></i> <span class="nav-label">{{ 'HOME' | translate }}</span> </a>
            </li>

            <li ng-repeat="menu in menus" id="{{menu.id}}" ng-class="{active: $state.includes('{{menu.href}}')}" ng-click="abrir(menu.id)">
                <a href=""><i class="{{ menu.icon }}"></i> <span class="nav-label">{{menu.nome | translate  }}</span> <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse {{menu.id}}" ng-class="{in: $state.includes('{{menu.href}}')}">
                    <li ng-repeat="sub in menu.sub" ui-sref-active="active"><a href="#{{sub.href}}">{{ sub.nome | translate }}</a></li>
                </ul>
            </li>


        </ul>

    </div>
</nav>