<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>

            <form role="search" class="navbar-form-custom" method="post" action="views/search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="{{ 'SEARCH' | translate }}" class="form-control" name="top-search"
                           id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li></i> Olá {{usuario.nome}}!!</li>
            <li uib-dropdown>
                <a class="count-info" href uib-dropdown-toggle>
                    <i class="fa fa-gears"></i>
                </a>
                <ul uib-dropdown-menu class="animated fadeInRight m-t-xs" ng-controller="translateCtrl">
                    <li><a ng-click="changeLanguage('pt')"><img src="http://api.nuvio.com.br/img/flags/16/Brazil.png">
                        Português </a></li>
                    <li><a ng-click="changeLanguage('en')"><img
                            src="http://api.nuvio.com.br/img/flags/16/United-States.png"> English</a></li>
                    <li class="divider"></li>
                    <li>
                        <a ng-click="logout()">
                            <i class="fa fa-sign-out"></i> {{ 'LOGOUT' | translate }}
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</div>