<div class="wrapper wrapper-content animated fadeInRight">
    <!--<div class="container services">-->
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="form-group">
                        <h3>Buscar Pessoa</h3>
                        <input type="text" class="form-control" placeholder="Digite CPF/CNPJ" id="buscar" name="buscar" ng-model="busca" ng-keyup="buscar(busca, gpes.pessoa.tipo)">
                    </div>
                    <div class="form-group" ng-if="buscaResult">
                        <button class="btn btn-info btn-outline" ng-click="usarBusca(buscaResult)">{{buscaResult.nome}}</button>
                        <button class="btn btn-danger" ng-click="cancelaBusca()">Cancelar</button>
                    </div>
                    <div class="alert alert-danger" ng-if="buscaerror">
                        <strong>A busca não obteve resultados.</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!--        DIREITA FORMULARIO     -->
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content" ng-if="gpes.grupo.tipo=='AMBOS'">
                    <h3>Selecione o tipo de Pesssoa</h3>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-6 col-md-2">
                            <button class="btn btn-block" ng-click="gpes.pessoa.tipo='PF'" ng-class="{'btn-success':gpes.pessoa.tipo == 'PF', 'btn-default':gpes.pessoa.tipo == 'PJ'}">
                                <i class="fa fa-user"> &nbsp;Pessoa Física </i>
                            </button>
                        </div>
                        <div class="col-sm-6 col-md-2">
                            <button class="btn btn-block" ng-click="gpes.pessoa.tipo='PJ'" ng-class="{'btn-success':gpes.pessoa.tipo == 'PJ', 'btn-default':gpes.pessoa.tipo == 'PF'}">
                                <i class="fa fa-building"> &nbsp;Pessoa Jurídica </i>
                            </button>
                        </div>
                    </div>


                </div>
                <div class="ibox-content">
                    <form name="gpesForm" class="form" ng-submit="cadastrar(gpes)"
                          novalidate>
                        
                        <input type="hidden" class="form-control" id="id" name="id" ng-model="gpes.grupopessoa.id">

                        <div class="row">

                            <!-- Form Pessoa -->
                            <div class="col-md-6" ng-include="'views/pessoa/cadPessoa.html'"></div>

                            <!-- Form Pessoa Fisica -->
                            <div class="col-md-6" ng-include="'views/pessoa/cadPessoaFisica.html'" ng-if="gpes.pessoa.tipo=='PF'"></div>

                            <!-- Form Pessoa Jurídica -->
                            <div class="col-md-6" ng-include="'views/pessoa/cadPessoaJuridica.html'" ng-if="gpes.pessoa.tipo=='PJ'"></div>
                    
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label-control">Outras informações</label>
                                    <textarea type="text" class="form-control" id="informacao" name="informacao" rows="5" placeholder="Outras informações" ng-model="gpes.grupopessoa.informacao" ng-required="true"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="">
                                <button class="btn btn-info" type="submit" >
                                    <!-- ng-disabled="gpesForm.$invalid" -->
                                    Salvar
                                </button>
                                <button class="btn btn-primary" type="button" ng-click="limparCampos()">
                                    Novo
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--        FIM FORMULARIO    -->

        <!--        ESQUERDA TABELA DE DADOS     -->
        <div class="col-md-12" ng-include="'views/pessoa/gridPF.html'" ng-if="gpes.pessoa.tipo == 'PF'"></div>

        <div class="col-md-12" ng-include="'views/pessoa/gridPJ.html'" ng-if="gpes.pessoa.tipo == 'PJ'"></div>
    </div>
    <!--</div>-->
</div>