<!-- <div class="col-md-6">  -->
    <h3>Dados Pessoa Jurídica</h3>
    <div class="hr-line-dashed"></div>
    
    <input type="hidden" class="form-control" id="id" name="id" ng-model="gpes.pessoapj.id">

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="label-control">Razão Social</label>
                <input type="text" class="form-control" id="razao" name="razao" placeholder="Razão Social" ng-model="gpes.pessoapj.razao" ng-required="true">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="label-control">CNPJ</label>
                <input type="text" class="form-control" id="cnpj" name="cnpj" placeholder="CNPJ" ng-model="gpes.pessoapj.cnpj" ng-required="true">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="label-control">NIRE</label>
                <input type="text" class="form-control" id="nire" name="nire" placeholder="NIRE" ng-model="gpes.pessoapj.nire" ng-required="true">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="label-control">Insc. Estadual</label>
                <input type="text" class="form-control" id="inscestadual" name="inscestadual" placeholder="Inscrição Estadual" ng-model="gpes.pessoapj.inscestadual" ng-required="true">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="label-control">Insc. Municipal</label>
                <input type="text" class="form-control" id="inscmunicipal" name="inscmunicipal" placeholder="Inscrição Municipal" ng-model="gpes.pessoapj.inscmunicipal" ng-required="true">
            </div>
        </div>
    </div>

    <h3>Representantes</h3>
    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-success btn-block" ng-click="addRepresentante()">
                <i class="fa fa-user"></i> &nbsp; Adicionar Representante
            </a>
            
            <div ng-if="!gpes.pessoapj.representantes" style="color:red; font-weight:700; text-align:center;padding:10px;">
                Nenhum representante cadastrado
            </div>

            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="10" data-filter=#filter ng-if="gpes.pessoapj.representantes">
                <thead>
                <tr>
                    <th data-toggle="true">ID</th>
                    <th data-hide="phone">Nome</th>
                    <th data-hide="phone">CPF</th>
                    <th data-hide="all">Nacionalidade</th>
                    <th data-hide="all">Data Nacimento</th>
                    <th data-hide="all">Estado Cívil</th>
                    <th data-hide="all">Nome Conjuge</th>
                    <th data-hide="all">Profissão</th>
                    <th data-hide="all">Tipo Doc</th>
                    <th data-hide="all">Número Doc</th>
                    <th data-hide="all">Orgão Doc</th>
                    <th data-hide="all">Data Emissão Doc</th>
                    <th data-hide="all">Pai</th>
                    <th data-hide="all">Mãe</th>
                    <th data-hide="all">Sexo</th>
                    <th data-hide="all">CEP</th>
                    <th data-hide="all">Endereço</th>
                    <th data-hide="all">Número</th>
                    <th data-hide="all">Complemento</th>
                    <th data-hide="all">Bairro</th>
                    <th data-hide="all">Telefone</th>
                    <th data-hide="all">Fax</th>
                    <th data-hide="all">Celular</th>
                    <th data-hide="all">Email</th>
                    <th data-hide="all">Email2</th>
                    <th data-hide="all">Site</th>
                    <th data-hide="all">Função</th>
                    <th data-hide="all">Representante</th>
                    <th data-hide="phone">Data de Cadastro</th>
                    <th data-hide="phone">Data de Edição</th>
                    <th class="text-right" data-sort-ignore="true">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="obj in gpes.pessoapj.representantes" reiniciar-footable>
                    <td ng-bind="obj.id"></td>
                    <td ng-bind="obj.pf.nome"></td>
                    <td ng-bind="obj.pf.cpf"></td>
                    <td ng-bind="obj.pf.nacionalidade"></td>
                    <td ng-bind="obj.pf.datanascimento"></td>
                    <td ng-bind="obj.pf.estadocivil"></td>
                    <td ng-bind="obj.pf.nomeconjuge"></td>
                    <td ng-bind="obj.pf.objprofissao.descricao"></td>
                    <td ng-bind="obj.pf.tipodoc"></td>
                    <td ng-bind="obj.pf.numerodoc"></td>
                    <td ng-bind="obj.pf.orgaodoc"></td>
                    <td ng-bind="obj.pf.dataemissaodoc"></td>
                    <td ng-bind="obj.pf.pai"></td>
                    <td ng-bind="obj.pf.mae"></td>
                    <td ng-bind="obj.pf.sexo"></td>
                    <td ng-bind="obj.pf.objpessoa.CEP"></td>
                    <td ng-bind="obj.pf.objpessoa.endereco"></td>
                    <td ng-bind="obj.pf.objpessoa.numero"></td>
                    <td ng-bind="obj.pf.objpessoa.complemento"></td>
                    <td ng-bind="obj.pf.objpessoa.bairro"></td>
                    <td ng-bind="obj.pf.objpessoa.telefone"></td>
                    <td ng-bind="obj.pf.objpessoa.fax"></td>
                    <td ng-bind="obj.pf.objpessoa.celular"></td>
                    <td ng-bind="obj.pf.objpessoa.email1"></td>
                    <td ng-bind="obj.pf.objpessoa.email2"></td>
                    <td ng-bind="obj.pf.objpessoa.site"></td>
                    <td ng-bind="obj.funcao"></td>
                    <td ng-bind="obj.representante"></td>
                    <td ng-bind="obj.datacadastro"></td>
                    <td ng-bind="obj.dataedicao"></td>
                    <td class="text-right">
                        <div class="btn-grouobj">
                            <a class="btn-white btn btn-xs" ng-click="editarRep(obj)"><i class="fa fa-edit"></i>
                            </a>
                            <a class="btn-white btn btn-xs" ng-click="deletaRep(obj)"><i class="fa fa-close"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="12">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>   
    </div>
<!-- </div> -->