<div class="col-md-6"> 
    <h3>Endereço</h3>
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="label-control">CEP</label>
                <input type="text" class="form-control" id="cep" name="cep" placeholder="CEP" ng-model="pessoa.cep" ng-required="true">
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <label class="label-control">Endereço</label>
                <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço" ng-model="pessoa.endereco" ng-required="true">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="label-control">Número</label>
                <input type="text" class="form-control" id="numero" name="numero" placeholder="Número" ng-model="pessoa.numero" ng-required="true">
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <label class="label-control">Complemento</label>
                <input type="text" class="form-control" id="complemento" name="complemento" placeholder="Complemento" ng-model="pessoa.complemento" ng-required="true">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="label-control">Bairro</label>
                <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro" ng-model="pessoa.bairro" ng-required="true">
            </div>
        </div>
    </div>
    <h3>Contato</h3>
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="label-control">Telefone</label>
                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone" ng-model="pessoa.telefone" ng-required="true">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="label-control">Fax</label>
                <input type="text" class="form-control" id="fax" name="fax" placeholder="Fax" ng-model="pessoa.fax" ng-required="true">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="label-control">Celular</label>
                <input type="text" class="form-control" id="celular" name="celular" placeholder="Celular" ng-model="pessoa.celular" ng-required="true">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="label-control">Email</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Telefone" ng-model="pessoa.email" ng-required="true">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="label-control">Email 2</label>
                <input type="text" class="form-control" id="email2" name="email2" placeholder="Email 2" ng-model="pessoa.email2" ng-required="true">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="label-control">Site</label>
                <input type="text" class="form-control" id="site" name="site" placeholder="Site" ng-model="pessoa.site" ng-required="true">
            </div>
        </div>
    </div>
</div>