<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-male modal-icon"></i>
        <h4 class="modal-title">Cadastro de Representante</h4>
        <!-- <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small> -->
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <h3>Buscar Pessoa Física</h3>
                    <input type="text" class="form-control" placeholder="Digite CPF" id="buscar" name="buscar" ng-model="busca" ng-keyup="buscar(busca)">
                </div>
                <div class="form-group" ng-if="buscaResult">
                    <button class="btn btn-info btn-outline" ng-click="usarBusca(buscaResult)">{{buscaResult.nome}}</button>
                    <button class="btn btn-danger" ng-click="cancelaBusca()">Cancelar</button>
                </div>
                <div class="alert alert-danger" ng-if="buscaerror">
                    <strong>A busca não obteve resultados.</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Form Pessoa Fisica -->
            <div class="col-md-12" ng-include="'views/representantepj/cadPessoaFisica.html'"></div>
            <!-- Form Pessoa -->
            <div class="col-md-12" ng-include="'views/representantepj/cadPessoa.html'"></div>
            <!-- Form RepPJ Pessoa -->
            <div class="col-md-12">
                <h3>Informaçoões de Representante</h3>
                <div class="hr-line-dashed"></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="label-control">Função</label>
                            <select class="form-control" id="funcao" name="funcao" ng-model="gpes.rep.funcao" ng-required="true">
                                <option value>Selecione...</option>
                                <option value="Presidente">PRESIDENTE</option>
                                <option value="Socio">SÓCIO</option>
                                <option value="Gerente">GERENTE</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label-control">Representante</label>
                            <div>
                                <label> <input icheck type="radio" name="representante" ng-model="gpes.rep.representante" checked="true" value="SIM"> SIM </label>
                                <label> <input icheck type="radio" name="representante" ng-model="gpes.rep.representante" value="NAO"> NÃO </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="ok(gpes.reppessoa,gpes.reppessoapf,gpes.rep)">Salvar</button>
    </div>
</div>

